.filter-area {
    margin-bottom: 1rem;
.filter-button {border-right: solid 1px $border-light; padding-right: 20px;}
.filter-menu {
    padding-left:20px;
    width: 90%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-x: auto;
  
}
}