.left-l-d {
  min-width: 200px;
  gap: 12px;
  align-self: stretch;
  padding: 0.5rem;
}
@media (max-width:700px) {
  .left-l-d {
    display: none;
  }
  .flex-column-mobile {
    flex-direction: column !important;
  }
  .flex-column-mobile .w-100-m  {
    width: 100% !important;
  }
  .mobile-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .edit-remove{
    left: 20%;
  }
  .cover-photo {
    width: 100% !important;
    height: auto !important;
  }
  .cover-image {
    width: 100% !important;
    aspect-ratio: 16/13;
    height: auto !important;
  }
  .mobile-padding-none{
    padding: 0px !important;
  }
}

.right-l-d {
  width: 100%;
  padding: 0.5rem;
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  overflow-y: scroll;
}

.photos-right img {
  max-width: 110px;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #efefef;
}

.input-name {
  display: flex;
  padding: 0 .5rem;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.8));
  margin-bottom: 1rem;
}

.input-name input,
.input-name input::placeholder,
.textarea-1 {
  padding: 0 0.5rem 0 0.1rem !important;
  color: var(--GREY, #747474);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 185.714% */
  letter-spacing: -0.078px;
}

.ui, input[type="text"], select {
 width: 100%;
  max-width: 200px !important;
  padding: 12px !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 12px;
}
.l-d-d .ui {
  max-width: 100% !important;
}

.dropdown {
  border-radius: 1rem;
}
.nput-ft {
  display: flex;
  align-items: center;
  border: 1px solid #444;
  border-radius: 1rem;
  gap: 5px;
  padding: 0 1rem;
border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
background: #FDFDFD;
}

.nput-ft input{
  width: 40px !important;
  outline: none;
  border: none;
}

.input-11 {
display: flex;
align-items: center;
position: relative;
color: var(--Grayscale-Gray-60, #ACACB0);
font-size: 14px;
font-weight: 700;
line-height: 26px; /* 185.714% */
letter-spacing: -0.078px;
}
.input-11 input {
  max-width: 100% !important;
  padding-left: 30px !important;
  height: 48px;
}

.input-11 input::placeholder {
color: var(--Grayscale-Gray-80, #4B4B4D);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 185.714% */
letter-spacing: -0.078px;
}

.damage-placeholder-text::placeholder {
  color: var(--Grayscale-Gray-60, #ACACB0) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.078px;
}

.taxes-place-hold-text::placeholder {
  color: var(--Grayscale-Gray-60, #ACACB0);
  font-size: 14px;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.078px;
}
.select-time {
  max-width: 100% !important;
  border-radius: 16px;
  margin-bottom: 0 !important;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80)) !important;
}

.dropdown-time-1 .select-time {
  border: none !important;
}
.dropdown-time-2 {
  height: auto !important;
}
.dropdown-time-2 .select-time {
  padding: 1rem !important;
}

.divider-line {
  width: 2px !important;
  background-color: var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
}

.input-11 a {
  position: absolute;
  right: 10px;
color: var(--Primary-Primary-50, #0D99FF);
font-size: 14px;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.078px;
text-decoration-line: underline;
}

.input-11 p {
 position: absolute;
 left: 10px;
}


.edit-name {
  color: var(--Primary-Primary-50, #0d99ff);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.flex-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
}

.flex-c-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-c-1 .svg-1 {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: 1px solid #e7e7e7;
}

.grid-d {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-d .choose-furniture {
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.grid-d .choose-furniture:last-child,
.grid-d .choose-furniture:nth-last-child(2) {
  border: 1px solid white;
}

.pricing-daily .input-name,
.pricing-weekly .input-name,
.pricing-Monthly .input-name {
   width: fit-content;
}

@media (max-width:700px) {
  .grid-d {
    grid-template-columns: 1fr;
  }
}


.rates-board {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FAFAFA;
}

.add-rate {
  margin: 1rem 0;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FFF;
  display: flex;
  height: 107px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

.discount-rate {
  margin: 1rem 0;
  display: flex;
  width: 248px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FAFAFA;
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 150% */
  letter-spacing: -0.32px;
}

.discount-rate span,
.learnmore {
  color: var(--Primary-Primary-50, #0D99FF);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.discount-rate div {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 105% */
  letter-spacing: -0.32px;
}

.edit-delet-1 {
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.api-button {
  min-width: fit-content;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
}

.bookinsa-box-notification {
  display: flex;
  gap: .5rem;
}

.bookinsa-box-notification .n-1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  background-color: #0D99FF;
}

.bookinsa-box-notification .n-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--BLACK, #444);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 166.667% */
}

.dropdown-time {
  padding: .5rem;
  gap: 1rem;
  display: flex;
  border-radius: 1rem;
}

.dropdown-time select {
  outline: none;
  border: none;
  margin: 0;
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: -0.12px;
}

.button-flex {
  color: var(--BLACK, #444);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  border: 1px solid var(--LIGHT-GRAY, #F1F1F1);
}

.button-flex img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.three-dots-icon {
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 400px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--Gray-04, #FCFCFC);
}

.calander-grid-d {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  /* font*/
  color: var(--BLACK, #444);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
}

.calander-grid-d .days {
  height: 30px;

}

.calander-grid-d .date {
  display: flex;
  height: 160px;
  padding: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  border-top: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-right: 0.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-bottom: 0.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-left: 0.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--Gray-04, #FCFCFC);
}

.calander-grid-d .date div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calander-grid-d .date.active-1 {
  background-image: url(../img/bg-line.png);
}

.calander-grid-d .date.active-2 {
  background-image: url(../img/bg-line-dot.png);
}


/* listingDashboard.html tabel*/

.tabel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.tabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.tabel-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabel-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabel-1 img {
  display: flex;
  width: 72px;
  height: 48px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat, #FFF;
}

.availabel-button-tabel,
.Unavailable-button-tabel {

  align-self: stretch;
  background: #FFF;
  border: 1px solid #747474;
  width: 90px;
  height: 48px;
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  background: #FAFAFA;
  border: 1.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  /* Elevation */
  box-shadow: 0px 20px 70px 0px rgba(194, 194, 194, 0.10);
}

.availabel-button-tabel {
  border-radius: 1.5rem 0 0 1.5rem;
  border-right: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
}

.Unavailable-button-tabel {
  border-radius: 0 1.5rem 1.5rem 0;
  border-left: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
}

.availabel-button-tabel.active-button-blue {

  color: #0D99FF;
}

.Unavailable-button-tabel.active-button-red {

  color: #BF3D35;
}

/* cover photo */

.cover-photo {
  display: flex;
  width: 280px;
  height: 200px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  border-radius: 12px;
  background: lightgray 50% / cover no-repeat, #EFEFEF;
  position: relative;
}

.cover-image {
  display: flex;
  width: 280px;
  height: 200px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  border-radius: 12px;
  background: lightgray 50% / cover no-repeat, #EFEFEF;
  overflow: hidden !important;
}

.cover-photo img {
  width: 100%;
  height: 100%;
}

.edit-remove-cover-photo {
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.show-edit-remove {
  display: flex !important;
}

.edit-remove {
  display: none;
  width: 227px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  right: -70%;
  top: 30%;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #E7E7E7;
  background: #FFF;
  /* Elevation */
  box-shadow: 0px 20px 70px 0px rgba(194, 194, 194, 0.10);
}


.plus-button {
  display: flex;
  padding: .5rem 1rem;
  align-items: center;
  gap: 5px;
  border-radius: 16px;
  border: 1px solid #E7E7E7;
  background: var(--Gray-04, #FCFCFC);
}


/* bookings */

.date-box {
  display: flex;
  width: 128px;
  min-width: 128px;
  height: 128px;
  min-height: 128px;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-right: 0.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-bottom: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  border-left: 0.5px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FFF;
}

.date-box-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-box-active {
  border-top: 1px solid var(--Primary-Primary-50, #0D99FF);
  border-right: 0.5px solid var(--Primary-Primary-50, #0D99FF);
  border-bottom: 1px solid var(--Primary-Primary-50, #0D99FF);
  border-left: 1px solid var(--Primary-Primary-50, #0D99FF);
  background: #FFF;
}

.scroll-body-calander::-webkit-scrollbar {
  display: none !important;
}

.coll {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  min-width: fit-content;
}

.activeblu {
  color: #0D99FF;
  background-color: #F3FAFE;
  border: 1px solid #F3FAFE;
}

.dashboard-items {
  display: block;
  margin-bottom: 3rem;
}

.dashboard-item {
  width: 293px;
  border-radius: 10px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
}

.dashboard-item p {
  line-height: 21px !important;
}

.dashboard-item hr {
  border: 1px solid rgba(214, 215, 216, 0.8);
  margin: 0 !important;
}

.dashboard-item-top {
  padding: 24px;
  width: 100%;
}

.dashboard-item-bottom {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--GREY, #747474);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 175% */
  letter-spacing: -0.32px;
}

.dot {
  display: block !important;
  color: #acacb0;
  fill: var(--Grayscale-Gray-60, #ACACB0);
}
.max-w {
  max-width: 1550px;
}
.overflow::-webkit-scrollbar {
  display: none !important;
  }

@media (max-width:700px) {
  #profile-mobile-version {
    display: block !important;
  }

  .profile-desktop-version {
    display: none !important;
  }
  .overflow {
    margin-right: 0px !important;
    padding-right: 0px !important;
  } 
  .mobile-margin-r-none{
    padding: 0 !important;
  }
  .dashboard-item{
    width: 100% !important;
  }
}