.left-l-d {
  min-width: 200px;
  gap: 12px;
  align-self: stretch;
  padding: 0.5rem;
}

.right-l-d {
  width: 100%;
  padding: 0.5rem;
}

.nav-bar-listing-details {
  border-left: 4px solid #f6f6f6;
  padding: 0.5rem;
}

.nav-bar-listing-details p {
  margin-bottom: 5px !important;
}

.nav-bar-listing-details .active {
  color: #0d99ff;
}

.photos-right img {
  max-width: 110px;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #efefef;
}

.input-name {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.8));
  background: #fcfcfc;
}

.input-name input,
.input-name input::placeholder,
.textarea-1 {
  padding: 0 0.5rem 0 0.1rem !important;
  color: var(--GREY, #747474);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 185.714% */
  letter-spacing: -0.078px;
}

.edit-name {
  color: var(--Primary-Primary-50, #0d99ff);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.flex-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem;
}

.flex-c-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-c-1 .svg-1 {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: 1px solid #e7e7e7;
}

.grid-d {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-d .choose-furniture {
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

.grid-d .choose-furniture:last-child,
.grid-d .choose-furniture:nth-last-child(2) {
  border: 1px solid white;
}

.pricing-daily .input-name,
.pricing-weekly .input-name,
.pricing-Monthly .input-name {
  max-width: 200px;
}

@media (max-width:700px) {
  .grid-d {
    grid-template-columns: 1fr;
  }
}


.rates-board {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FAFAFA;
}

.add-rate {
  margin: 1rem 0;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FFF;
  display: flex;
  height: 107px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

.discount-rate {
  margin: 1rem 0;
  display: flex;
  width: 248px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: #FAFAFA;
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 150% */
  letter-spacing: -0.32px;
}

.discount-rate span,
.learnmore {
  color: var(--Primary-Primary-50, #0D99FF);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.discount-rate div {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 105% */
  letter-spacing: -0.32px;
}

.edit-delet-1 {
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
  text-decoration-line: underline;
}

.api-button {
  min-width: fit-content;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.078px;
}

.bookinsa-box-notification {
  display: flex;
  gap: .5rem;
}

.bookinsa-box-notification .n-1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  background-color: #0D99FF;
}

.bookinsa-box-notification .n-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--BLACK, #444);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 166.667% */
}

.dropdown-time {
  padding: .5rem;
  gap: 1rem;
  display: flex;
  border-radius: 1rem;
}

.dropdown-time select {
  outline: none;
  border:  none;
  margin: 0;
  color: var(--Grayscale-Gray-80, #4B4B4D);
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: -0.12px;
}
