/* -----------------------------
 listing map starts
------------------------------*/
.map-main {
  display: flex;
  width: 100%;
  position: relative;
  gap: 1rem;
}
.left-Map {
  height: 100%;
  width: 60%;
  margin-left: 1rem;
  background-color: white;
}
.Right-Map {
  height: calc(100vh - 132px);
  width: 40%;
  position: sticky;
  top: 132px;
}
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-Map .listing-map {
  display: grid;
  grid-gap: .5rem;
  background: white;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr)); /* Spread items evenly */
}
.left-Map .listing-item {
display: flex;
padding-bottom: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
flex-grow: 1;
border-radius: 13px;
border: 0px solid var(--Grayscale-Gray-40, rgba(172, 172, 176, 0.24));
background: var(--Shades-White, #FFF);
}

.left-Map .listing-item img {
  width: 100%;
}

.map-container .button-div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1rem;
  z-index: 1;
}

.map-container .button-div button {
  min-width: max-content;
  border: 1px solid #74747447;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
}
.map-container .button-div button img {
   width: 20px;
   height: 20px;
}
.decreade-Map {
  gap: 0;
}
.increase-Map {
  gap: 0;
}
.decreade-Map .left-Map {
  width: 0px !important;
  margin-left: 0;
}
.decreade-Map .left-Map .listing-item {
   display: none;
}
.decreade-Map .Right-Map {
  width: 100% !important;
}
.increase-Map .Right-Map {
  width: 0px !important;
}
.increase-Map .left-Map {
  width: 100% !important;
  margin-right: 1rem;
}
.increase-Map .Right-Map .button-div button,
.decreade-Map .Right-Map .button-div button {
  border-radius: 10px; 
  background-color: white;
  font-size: 16px;
}

.increase-Map .Right-Map .button-div{
  left: -7rem !important;
}
.decreade-Map .left-map {
  width: 0px !important;
  height: 0px;
}

.increase-Map .Right-map{
  width: 0px !important;
}
.decreade-Map .left-Map .filter-menu-main {
  position: fixed;
  top: 3.5rem;
  transition: none;
  margin-top: 0 !important;
  margin-left: 1rem;
}
.increase-Map .left-Map .filter-menu-main {
 margin-right: 10%;
}


.mobile-map-result-div{
  display: none !important;
}


/*----------------------------
listing map mobile wersion
----------------------------*/
@media (max-width:700px){
  .decreade-Map .left-Map .filter-menu-main {
    margin-top: 5.5rem !important;

  }
  .mobile-map-result-div {
    display:  block !important;
  }
  .map-main{
  flex-direction: column-reverse;
  margin-top: 3.45rem;
  margin-bottom: -6.4rem;
  }
  .left-Map {
    width: 100%;
    margin-left: 0rem !important;
    padding: 0 .5rem;
    margin-top: 0 !important;
    z-index: 1;
    transform: translateY(30vh);
    transition: transform 0.3s ease; /* Smooth transition */
    border-radius: 1rem 1rem 0 0;
    background-color: white;
  }
  .Right-Map {
    width: 100%;
    position: fixed;
    top: 161px;
    height: 68dvh;
  }
  .map-container .button-div {
    display: none;
  }
  .left-Map .filter-menu-main{
    padding: 0 0 0 0 !important;
  }

  .mobile-map-result-div{
    flex-direction: column;
    transition: all 1s ease;
  }
  .mobile-map-result-div .result-places-text {
    text-align: center;
    margin-top: .5rem;
  }
  .line-l-m{
    height: 5px !important;
    width: 100px !important;
    background-color: #4b4b4d26 !important;
    margin: auto !important;
    border-radius: 1rem !important;
    margin-top: 10px !important;
    
  }

  .filter-menu-main {
    margin-top: 60px;
  }
  }
  
  
  /*
  * Optional: Makes the sample page fill the window.
  */
  /**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* [START maps_advanced_markers_html] */
:root {
  --building-color: #FF9800;
  --house-color: #0288D1;
  --shop-color: #7B1FA2;
  --warehouse-color: #558B2F;
}



/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
  width: 100%;
}

/*
 * Property styles in unhighlighted state.
 */
.property {
  align-items: center;
  /* background-color: #FFFFFF; */
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

/* 29-6-24 changes starts */
.property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.property .icon {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  font-weight:400;
  scale: 1;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  transition: all .3s ease;
}

.property .icon:hover {
 scale: 1.1;
 font-weight: 600;
 z-index: 9999 !important;
}
.highlight .icon {
  background-color: #000000;
  color: white;
}
.yNHHyP-marker-view:hover {z-index: 2 !important;}

/* 29-6-24 changes ends */

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  top: 102%;
}

.map-cls-btn {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: 1;
  right: 2%;
  top: 2%;
}
.map-card a {
   text-decoration: none;
}

.property .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.property.highlight {
  border-radius: 1rem;
  padding: 0;
  width: auto;
  height: auto;
}
/* .property.highlight .icon {
  display: none;
} */

.property.highlight::after {
  border-top: 9px solid #FFFFFF;
}

.property.highlight .details {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.property.highlight .icon svg {
  width: 50px;
  height: 50px;
}

.property .bed {
  color: #FFA000;
}

.property .bath {
  color: #03A9F4;
}

.property .size {
  color: #388E3C;
}

/*
 * House icon colors.
 */
.property.highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

.property:not(.highlight):has(.fa-house) {
  background-color: var(--house-color);
}

.property:not(.highlight):has(.fa-house)::after {
  border-top: 9px solid var(--house-color);
}

/*
 * Building icon colors.
 */
.property.highlight:has(.fa-building) .icon {
  color: var(--building-color);
}

.property:not(.highlight):has(.fa-building) {
  background-color: var(--building-color);
}

.property:not(.highlight):has(.fa-building)::after {
  border-top: 9px solid var(--building-color);
}

/*
 * Warehouse icon colors.
 */
.property.highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse) {
  background-color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse)::after {
  border-top: 9px solid var(--warehouse-color);
}

/*
 * Shop icon colors.
 */
.property.highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop) {
  background-color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop)::after {
  border-top: 9px solid var(--shop-color);
}

/* [END maps_advanced_markers_html] */

/* details cart starts */

  /* Individual dot */
  .dot {
    cursor: pointer;
    height: 10px !important ;
    width: 10px !important;
    margin: 5px 3px;
    background-color: #eaeaea !important;
    border-radius: 50%;
    transition: all 0.3s ease !important;

  }

  /* Active dot */
  .active-dot {
    background-color: #717171 !important;
    width: 13px !important;
    height: 13px !important;
  }

/* details cart ends */

