.divider {
  height: 1px;
  width: 100%;
  background: #F1F1F1;
}
.bb-n {
  border-bottom: none !important;
}

.bb {
  border-bottom: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
}


.listing-section-1 {
  width: 100%;
  padding-bottom: 5rem;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.listing-header div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.help {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #E7E7E7;
  background: #FAFAFA;
  color: rgba(20, 20, 20, 0.88);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
}

.listing-section-1 h1 {
  text-align: center;
  margin-top: 2rem;
}

.add-a-listing-main{
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 100%;
  max-width: 802px;
  padding: 48px 100px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--White-White-100, #FFF);
}

.afterimport, .Military-discount, .donation-publish {
display: flex;
max-width: 720px;
padding: 0px 64px;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
gap: 48px;
flex-shrink: 0;
border-radius: 16px;
}


.import-create-listing {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
  background: var(--Gray-04, #FCFCFC);
}

/* listing-section-2 starts */

.listing-section-2 {
  padding: 2rem 5%;
  padding-top: 3rem;
}

.Veterans-created-Crewdogs-Crewdogs li {
  position: relative;
  list-style-type: none;
  margin-bottom: 1rem;
  background: url("../img/TickCircle.svg") no-repeat left;
  padding: 2.4px 0 3px 30px;
  color: #4B4B4D;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.Veterans-created-Crewdogs-Crewdogs li span {
  font-size: 14px;
  font-weight: 700;
}


/* listing-section-3 starts */

.listing-section-3 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.listing-section-3 h1 {
  color: #222;
  text-align: center;
  font-feature-settings: 'ss03' on, 'liga' off;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
}

.accordion-custom .card {
  border: none;
  border-bottom: 1px solid #F1F1F1 !important;
}
.accordion-custom .b-none {
  border: none;
  border-bottom: 1px solid white !important;
}

.accordion-custom .card-header {
  background: white;
  border: none;
  border-top: 1px solid #F1F1F1 !important;
  padding-left: 0;
  padding-right: 0;
}
.accordion-custom .b-none .card-header {
  border-top: 1px solid white !important;
}

.accordion-custom .card-body {
  padding-left: 0;
  padding-right: 0;
}

.accordion-custom .card:first-child .card-header {
  border-top: 1px solid white !important;
}

.accordion-custom .panel-title[aria-expanded="true"]::after {
  content: "\2212";
  font-size: 28px;
  transition: content 1.3s ease;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8.421px;
  border-radius: 1684.211px;
  border: 0.842px solid var(--Grayscale-Gray-16, #F6F6F6);
  background: var(--Gray-04, #FCFCFC);
}

.accordion-custom .panel-title::after {
  content: "\002B";
  color: #333;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome";
  font-size: 28px;
  transition: content 1.3s ease;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8.421px;
  border-radius: 1684.211px;
  border: 0.842px solid var(--Grayscale-Gray-16, #F6F6F6);
  background: var(--Gray-04, #FCFCFC);
}


/* listing-section-4 starts */

.listing-section-4 h1 {
  color: #333;
  font-feature-settings: 'cv04' on, 'ss03' on, 'cv03' on, 'cv01' on;
  font-size: 28px;
  font-weight: 700;
  line-height: 145%; /* 40.6px */
  letter-spacing: -0.56px;
  padding: 2rem 5%;
  padding-top: 3rem;
}

.listing-section-4 .review-card {
  border-radius: 12px;
border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
background: #FFF;
/* Elevation */
box-shadow: 0px 20px 70px 0px rgba(194, 194, 194, 0.10);
}





/*------------------------------
 afterimport starts
------------------------------*/


.afterimport-listing {
  display: flex;
  padding: 24px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  align-self: stretch;
  border-bottom: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
}
.afterimport-listing:last-child {
  border-bottom: 1px solid white !important;
}



/*------------------------------
 discount starts 
------------------------------*/

.set-discount {
display: flex;
align-items: center;
justify-content: center;
gap: 32px;
}

.discount-minus , .discount-plus {
display: flex;
padding: 16.8px;
height: 48px;
width: 48px;
justify-content: center;
align-items: center;
gap: 14px;
border-radius: 560px;
border: 1px solid #E7E7E7;
background: #FAFAFA;
}

.set-discount .discount-number {
  display: flex;
  align-items: center;
}
.set-discount .percent-num {
  color: var(--Grayscale-Gray-80, #4B4B4D);
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -0.12px;
} 
.set-discount .percent,
.input-type .percent {
color: var(--Grayscale-Gray-50, #D9D9D9);
font-size: 32px;
font-weight: 500;
letter-spacing: -0.12px;
margin-top: 1rem;
}


.input-percent {
display: flex;
height: 64px;
padding: 12px 24px;
align-items: center;
gap: 12px;
align-self: stretch;
border-radius: 16px;
border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
background: #FDFDFD;
}
.input-percent::placeholder {
color: var(--Grayscale-Gray-60, #ACACB0);
font-size: 14px;
font-weight: 400;
line-height: 26px; /* 185.714% */
letter-spacing: -0.078px;
}

.input-type {
  position: relative;
}

.percent-absut{
  position: absolute;
  right: 1rem;
  top: 20px;
}


.learm-more-discount {
display: flex;
width: 100%;
max-width: 592px;
padding: 24px;
align-items: flex-start;
gap: 24px;
border-radius: 16px;
border: 1px solid var(--Grayscale-Gray-24, rgba(234, 235, 237, 0.80));
background: #FFF;
}

/*------------------------------
learn more 
------------------------------*/
.learnmore-main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 48px;
}



/*------------------------------
 discount
------------------------------*/
.search-box {
  width: 100%;
  position: relative;
}
.search-box input {
  border-radius: 2rem;
  height: 64px;
  padding-left: 1rem;
}

.search-box img {
  position: absolute;
  right: 5%;
  top: 60%;
}
.search-box-2 input {
  border-radius: 12px !important;
}
.search-box select{
  position: absolute;
  right: 5%;
  top: 47%;
  width: 100px;
  border-radius: 12px;
}

.mission-display {
  display: flex;
height: 250px;
padding: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 48px;
align-self: stretch;
border-radius: 16px;
border: 1px dashed var(--Grayscale-Gray-50, #D9D9D9);
background: #FFF;
}

/*------------------------------
 buttons 
------------------------------*/



.continue-button {
  display: flex;
  width: 100%;
  max-width: 599px;
  height: 64px;
  padding: 16px 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: var(--Grayscale-Gray-16, #F6F6F6);
  color: var(--Grayscale-Gray-100, #1E1E20);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.Add-listing-button {
  display: flex;
  width: 90%;
  max-width: 592px;
  height: 64px;
  padding: 16px 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--Primary-Primary-50, #0D99FF);
  border: none;

  color: var(--White-White-100, #FFF);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.button-blue {
  background-color: #0D99FF;
  color: white;
}

.more-info-btn {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #0D99FF;
  padding: 0;
}

/* model  */
.modal-backdrop {
  width: 100%;
  height: 100%;
}
.modal {
 padding-right: 0 !important;
}
.modal-header {
  border-bottom: 0;
}
.btn-close {
float: right;
}

/*----------------------------
 mobile respomsive 
-----------------------------*/
/* desktop-none */
 .d-n {
  display: none;
 }
@media (max-width:700px) {

  /* mobile none */
  .m-n {
    display: none;
  }
  /* mobile block */
  .d-n {
    display: block;
  }
  .t-c {
    text-align: center;
  }

  .listing-header {
    padding: 1rem;
  }

  .listing-section-1 {
    padding-bottom: 0rem;
  }

  .add-a-listing-main {
    border-radius: 0;
    padding-top: 3rem;
    padding: 2%;
    padding: 2rem;
    margin-top: 1rem;
  }
  .afterimport {
    border-radius: 0;
    padding-top: 3rem;
    padding: 5%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .afterimport-listing {
    padding: 1rem 0;
    flex-direction: row-reverse;
    gap: 12px;
    padding: 12px 0px;
    align-items: center; 
    align-self: stretch;
  }

  .import-create-listing {
    height: 54px;
  }
  .Military-discount {
padding: 0px 2%;
gap: 24px;
flex-shrink: 0;
border-radius: 16px;
  }
  .donation-publish {
    padding: 0px 1rem;
    gap: 28px;
    }
    .mission-display {
      height: 132px;
    }
}