::-webkit-scrollbar {
  width: 5px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4444; 
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}