.accordion-container {
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.close-icon {
    margin: 1rem .5rem;
    font-size: 2rem;
}

.accordion-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    margin-top: 3px;
    background: white;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}



.accordion-title {
    flex-grow: 1;
}

.accordion-icon,
.close-icon {
    margin-left: 10px;
    font-size: 2rem;
    color: gray;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-body.open {
    max-height: 1000px;
    /* Large enough value to show the entire content */
    padding: 10px;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
}

.accordionsecondtital {
    color: #cdcdcd;
}

.accordionfirsttital {
    font-weight: 600;
}

.mobile_date_show {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    color: gray;
}

#start-date-days {
    margin-right: 1rem;
}


.addlocationncontainer {
    /* border: 1px solid black; */
    /* text-align: center; */
    padding: 1rem;
    background: #e9ecef0f;
    height: auto;
}

.searchbox {
    padding: 1rem;
    border-radius: 4rem;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: .2px solid #80808054;
}

.addlocationncontainerchild {
display: flex;
padding: 12.4px 0px;
flex-direction: column;
align-items: flex-start;
/* position: absolute;
right: 0px;
bottom: -270.875px; */
border-radius: 24px;
border: 0.775px solid #E7E7E7;
background: #FFF;
box-shadow: 0px 15.5px 54.25px 0px rgba(194, 194, 194, 0.10);
}

.addlocationncontainerchild1 {
    display: flex;
    width: 100%;
    padding: 6.2px 18.6px;
    align-items: center;
    gap: 9.3px;
    background: #FFF;
    border-bottom: 1px solid var(--Grayscale-Gray-40, rgba(172, 172, 176, 0.24));
}
.addlocationncontainerchild1:last-child {
    border-bottom: none;
}

.inputcontainer {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 4rem;
}


.addguestcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #80808054;
    padding: 1rem 0px;
    margin: 5px 0px;
}

.addguestcontainer1 {
    display: flex;
    width: 50%;
    align-items: baseline;
    /* text-align: center; */
    justify-content: space-around;
}

.membercount {
    font-weight: 600;
}

.nextbutton {
    background-color: #0d9aff;
    color: #fff;
    border: none;
}

.clearallbutton {
    color: #0d9aff;
    border: none;
}