.calander-main {
    max-width: 792px;
    min-height: 400px;
    width: 100%;
    overflow-x: scroll;
  }
  
  .d-m-y {
    width: 699px;
    padding: 8px;
    border-radius: 200px;
    background: #F7F7F7;
    margin: .5rem auto;
  }
  
  .d-m-y div p {
    display: flex;
    width: 233px;
    height: 48px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  
  .d-m-y .active-d-m-y {
    border-radius: 2000px;
    background: #FFF;
  }
  
  .months-column {
    color: #111111 !important;
    display: flex;
    justify-content: space-evenly;
  
    /*font*/
    color: var(--Foundation-black-black-500, #111);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px; /* 140% */
  }
  
  .calander-weeks {
    display: grid;
    grid-template-columns: repeat(7 ,  1fr);
    /* font*/
    color: var(--BLACK, #444);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  }
  
  .calander-weeks p {
     width: 48px;
     height: 48px;
     margin: 0 !important; 
     padding: 0 !important;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .calander-weeks div {
    margin-bottom: .2rem;
  }
  
  
  .calander-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  
  /*font*/
  color: var(--BLACK, #444);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  }
  
  
  
  .active-date-calander {
    display: block !important;
  }
  
  .calander-d-m-y {
    cursor: pointer;
    flex: 1;
    text-align: center;
    border-radius: 1rem;
    padding: .5rem;
  }
  
  .content.active {
    display: flex !important;
  }
  
  .calander-d-m-y.active-d-m-y {
    font-weight: bold;
  }
  
  
  .months-calander {
    width: 100% !important;
    height: 80% !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  
  
  
  
  .years-calander {
    flex-grow: 1 !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    flex-direction: column !important;
    height: 80% !important;
  }
  
  .duration-font {
    color: var(--Foundation-black-black-500, #111);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px; /* 140% */
  letter-spacing: -0.252px;
  }
  
  
  .years-button{
    display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 13px;
  border: 1px solid #E7E7E7;
  background: inherit;
  
  color: var(--GREY, #747474);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.08px;
  
  }
  
  .years-button-active {
    border-radius: 13px;
  background: var(--Primary-Primary-50, #0D99FF) !important;
  color: white !important;
  }
  
  
  .calander-font-1 {
    color: var(--Grayscale-Gray-80, #4B4B4D);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.078px;
  border: none;
  margin: 2rem 0px;
  }
  .calander-font-1 :hover{
   cursor: pointer;
  }
  
  
  .selected-range {
    background-color: #0d9aff2f;
  }
  
  .selected-range-start {
     border-radius: 50% 0 0 50%;
  }
  .selected-range-endes {
    border-radius: 0 50% 50% 0;
  }
  .selected-range-start p, 
  .selected-range-endes p {
     border-radius: 50%;
     background-color: #0D99FF;
     color: white;
  }
  
  
  .slider-container {
    position: relative;
    width: 90%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .input-slider-range {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    background: linear-gradient(to right, #2196F3 0%, #2196F3 0%, #ddd 0%, #ddd 100%);
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  .input-slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    filter: drop-shadow(0px 3.25px 6.5px rgba(16, 24, 40, 0.06)) drop-shadow(0px 6.5px 13px rgba(16, 24, 40, 0.10));
  }
  
  .input-slider-range::-moz-range-thumb {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    cursor: pointer;
    filter: drop-shadow(0px 3.25px 6.5px rgba(16, 24, 40, 0.06)) drop-shadow(0px 6.5px 13px rgba(16, 24, 40, 0.10));
  }
  
  .input-slider-range:hover {
    opacity: 1;
  }
  
  .slider-tooltip {
    position: absolute;
    white-space: nowrap;
    top: -55px;
    left: 0;
    transform: translateX(0%);
  
    display: flex;
    padding: 13px 19.5px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 13px;
    background: var(--White, #FFF);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.189);
    color: var(--Gray-700, #344054);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.25px;
    /* 182.813% */
  }
  
  .slider-tooltip::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  
  .slider-scale {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .slider-scale p {
    width: .5px;
    height: 8px;
    background: #E7E7E7;
  }
  
  .scale-mark {
    width: .5px;
    height: 16px;
    background: #E7E7E7;
  }
  
  